body {
    background-color: #121212;
    color: #DFDFDF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    min-width: 300px;
    max-width: 400px;
}

div {
    margin: 2px 0px 2px 0px;
}

button {
    background-color: #1E1E1E;
    color: #DFDFDF;
    margin: 2px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

input {
    background-color: #1E1E1E;
    color: #DFDFDF;
    margin: 2px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    font-size: 14px;
    width: 254px;
    height: 20px;
}

#info {
    display: inline-block;
    width: 200px;
}

#psa-div {
    display: inline-block;
}

#kjv {
    display: inline-block;
}

#links {
    display: inline-block;
}

.open-btn {
    width: 200px;
    height: 40px;
}

.copy-btn {
    width: 80px;
    height: 40px;
}

button:hover {
    background-color: #4b4b4b;
}

input:focus {
    outline: none;
}

#note {
    width: 290px;
}
