body {
    background-color: #121212;
    color: #DFDFDF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    min-width: 300px;
    max-width: 300px;
}

div {
    margin: 2px 0px 2px 0px;
}

button {
    background-color: #1E1E1E;
    color: #DFDFDF;
    margin: 2px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

select {
    background-color: #1E1E1E;
    color: #DFDFDF;
    margin: 2px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #4b4b4b;
}

input {
    background-color: #1E1E1E;
    color: #DFDFDF;
    margin: 2px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    font-size: 14px;
    width: 254px;
    height: 20px;
}

input:focus {
    outline: none;
}

hr {
    display: inline-block;
    width: 300px;
    border-color: #4b4b4b;
}

a {
    color: #DFDFDF;
}

#info {
    display: inline-block;
    width: 200px;
}

#psa {
    display: inline-block;
}

#tabs {
    width: 286px;
}

#tabs button {
    color:  #a9a9a9;
    border: none;
    background-color: #121212;
}

#tabs button:hover {
    color: #DFDFDF;
}

#links {
    display: inline-block;
}

.open-btn {
    width: 200px;
    height: 40px;
}

.copy-btn {
    width: 80px;
    height: 40px;
}

#kjv {
    display: inline-block;
}

#socials {
    display: inline-block;
    width: 290px;
}

#socials img {
    height: 32px;
    width: 32px;
}

#livestream-links a {
    display: block;
}

#contact-form form{
    display: block;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #4b4b4b;
}